.wrapper{
    position: fixed;
    display: grid;
    width: 25%;
    height: 100%;
}

.wrapperRight{
    position: fixed;
    display: grid;
    width: 25%;
    height: 100%;
    right: 0;
}

.body{
    font-family: "Poppins", sans-serif;

}

.navbar{

    font-family: "Poppins", sans-serif;
    color: lightgray;

}